* {
    box-sizing: border-box;
}
body {
    margin:0;
    min-height:100vh;
    overflow:hidden;
}
h3 {

    font-size:10em;
    text-align:center;
    color:gray;
    z-index: 2;
}
.bulle {
    border-radius: 300px;
    position:absolute;
    animation: mouvement 10s ease-out forwards;
    opacity:0;
}
.feuille {
    position:absolute;
    animation: mouvementFeuille 15s ease forwards;
    display: block;
    margin:auto;
    z-index:-1;
}
@keyframes mouvement {
    to { 
        bottom:-300px;
        left:var(--left);
        opacity:1;
        filter:hue-rotate(720deg);
    }
}
@keyframes mouvementFeuille {
    from {bottom:100vh}
    to { 
        bottom:0px;
        left:var(--left);
        filter:hue-rotate(720deg);
        transform:rotate(var(--rotation));
    }
}