*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: none;
}
h1 {
  color: antiquewhite;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  padding: 80px 0;
  z-index: 10;
  cursor: pointer;
  position: relative;
}
h1:hover {
  mix-blend-mode: difference;
}
.mouse {
  position: absolute;
  transform: translate(-50%, -50%);
}
#mousemove1 {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  z-index: 2;
}
#mousemove2 {
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
  border-radius: 50%;
  z-index: 1;
  transition: 0.04s ease-out;
  opacity: 0.5;
}
#mousemove3 {
  width: 100px;
  height: 100px;
  background-color: crimson;
  border-radius: 50%;
  z-index: 0;
  transition: 0.06s ease-out;
  opacity: 0.4;
}
